
.general-wrapper {
       max-width:1100px;
       margin:0 auto;
       @media (max-width:1114px) {
	   max-width:838px;
       }
        @media (max-width:839px) {
	   max-width:568px;
	}
	   @media (max-width:610px) {
	       max-width:468px;
	   }
	   	   @media (max-width:360px) {
	       max-width:308px;
       }
}

