
.logotype {
    &__architectureX-logo {
	@include playfair-font(#fff, 25px,italic);
	margin:0;
	float:left;
	span {
	    color:$font-color-orange;
	}

    }
    &--center {
	padding:60px 0 60px 0;
	width:160px;
	float:none;
	clear:both;
	margin:0 auto 0 auto;
	
    }
}





















