
.main-slider {
    width:436px;
    //text-align:center;
    margin: 195px auto 0 auto;

&__title {
    
    @include playfair-font(white,45px,italic);
    font-weight:400;
    margin:0;
}
&__wrapper {
    text-align:center;
}
&__short-description {
    margin:16px 0 0 0;
    @include raleway-font(24px,white,light);
    font-weight:300;
}
&__btn {
    cursor:pointer;
    margin:22px 0 0 0;
    text-align:center;
    @include montserrat-font(14px,white);
    width:155px;
    height:50px;
    background:none;
    border:2px solid white;
    text-transform:uppercase;
    transition:250ms;
}

&__btn:hover {
    background-color:white;
    color:black;
}

@media(max-width:490px){
    &__title {
	margin:82px 0 0 0;
    }
    
} 
}

























