
.site-parts {
    margin:6px auto 0 auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    width:550px;
    float:right;
    i {
	color:$font-color-orange;
    }
    &__link {
	@include montserrat-font(14px, $font-color-orange);
	text-transform:uppercase;
	text-decoration:none;
	cursor:pointer;
	padding:0 0 5px 0;
	transition: color 350ms;
	box-sizing:border-box;
	
	
    }
    
    &__link:hover  {
	
	color:white;
       }
       
       @media (max-width:610px) {
	   width:470px;
       }

       @media (max-width:490px) {
		   height:50px;
		   width:200px;
		   float:none;
		   &__link {
		       padding:15px 0 0 0;
		   }
       }

       @media (max-width:) {

       }
       
}

















