
.content-wrapper {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    flex-direction:row;
    height:560px;
    
    @media (max-width:1114px) {
	height:880px;
    }

    @media (max-width:839px) {
	height:1210px;

    }

    @media (max-width:610px) {
	height:850px;
	flex-direction:column;
    }
}












