
.customers-slider {
    max-width:1100px;
    position:relative;
    margin:0 auto;
    &__wrapper {
	width:2300px;
	
    }
    &__list {
	margin:0 auto;
	width:1100px;
	overflow:hidden;
    }
}
















