
.customers-feedback {
    float:left;
    position:relative;
    z-index:33;
    color:white;
    max-width:1100px;
    text-align:center;
    @include playfair-font(white,18px,italic);
    line-height:30px;
   
    &__text {
	margin-bottom:2px;
	
    }
    &__sign {
	margin:10px 0 0 0;
	 white-space:pre;
	 span { color:white;}
	 @include montserrat-font(13px, $font-color-orange);
	 font-weight:bold;
	 text-transform:uppercase;
    }
    &__photo-wrapper {
	width:160px;
	margin:0 auto;
	position:relative;
    }
    &__left-arrow {
	height: 32px;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	left:0;
    }
    &__right-arrow {
	height: 32px;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	right:0;
    }
    &__divider-two::before {
	content: url(../img/divider-white.png) ;
	width: 1px;
	height: 1px;
    }
}








