
.hover-projects {
    width:255px;
    position:relative;
    height:160px;
    transition:200ms;
    display:flex;
}

.hover-projects:hover .hidden-block {
    opacity:1;
    visibility:visible;
    
}











