.link-to-purchase {
        padding-top:65px;
    
    position:relative;
    &__text{
	float:left;
	@include montserrat-font(15px,white);
	text-transform:uppercase;
	font-weight:bold;
	
    }
    &__btn {
	float:right;
	cursor:pointer;
	
	text-align:center;
	@include montserrat-font(15px,white);
	width:155px;
	height:50px;
	background:none;
	border:2px solid white;
	text-transform:uppercase;
	transition:250ms;
	outline:none;
    }
    
    &__btn:hover {
	background:white;
	color:black;
    }
}
