
.logo-slider {
    margin-top:62px;
    max-width:1100px;
    position:relative;
    &__wrapper {
	width:1730px;
	list-style-type:none;
	display:flex;
	align-items:center;
	
    }
    &__list {

	margin:0 auto;
	width:830px;
	overflow:hidden;
	li {
	    float:left;
	    padding:0 19px;
	}
    }
    &__arrow-left {
	position:absolute;
	left:0;
	cursor:pointer;
	top:-4px;
    }
    &__arrow-right {
	cursor:pointer;
	position:absolute;
	bottom:3px;
	right:0;
    }
}

