.logo-slider-wrapper {
    max-width:1200px;
    position:relative;
    margin:62px auto 0 auto;
}
.logo-slider {

    transition:250ms;
    &__wrapper {
	width:1730px;
	list-style-type:none;
	display:flex;
	align-items:center;
	
    }
    &__list {

	margin:0 auto;
	max-width:830px;
	overflow:hidden;
	li {
	    float:left;
	    padding:0 19px;
	}
    }
    &__arrow-left {
	width:200px;
	position:absolute;
	left:20px;
	cursor:pointer;
	top:50%;
	margin-top:-16px;
	
    }
    &__arrow-right {
	padding-left:200px;
	cursor:pointer;
	position:absolute;
	top:50%;
	margin-top:-16px;
	right:20px;
    }

    
    @media (max-width:1114px) {

    }

    @media (max-width:839px) {
	
	&__list {
	    max-width:500px;
	    
	}
    }

    @media (max-width:610px) {
	&__list {
	    height:150px;
	}
	&__wrapper {
	    flex-direction:column;
	    widtH:365px;
	    li {
		padding-top:21px;
	    }
	}
    }
    
}

