
.overflow-wrapper {
    
    height:343px;
    overflow:hidden;
    transition:350ms;
    &--blog-fix {
	height:250px;
	
    }

    @media (max-width:1114px) {
	&--blog-fix {
	    height:276px;
	}
    }
    @media (max-width:650px) {
	&--blog-fix {
	    max-width:256px;
	    height:310px;
	}
    }

    &--height {
	transition:350ms;
	height:1px;
    }
}










