
.overflow-wrapper {
    height:392px;
    overflow:hidden;
    &--blog-fix {
	height:250px;
	
    }

    @media (max-width:1114px) {
	&--blog-fix {
	    height:276px;
	}
    }

    @media (max-width:) {

    }

    @media (max-width:) {

    }
    
}








